$utilities: (
  "align": (property: vertical-align,
    class: align,
    values: baseline top middle bottom text-bottom text-top sub),
  "position": (responsive: true,
    property: position,
    values: static relative absolute fixed sticky initial),
  "align-items": (responsive: true,
    property: align-items,
    values: (start: flex-start,
      end: flex-end,
      center: center,
      baseline: baseline,
      stretch: stretch,
      normal: normal,
    )),
  "border": (responsive: true,
    property: border,
    values: (null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
      0: 0,
    )),
  "font-size": (rfs: false,
    responsive: true,
    property: font-size,
    class: fs,
    values: $font-sizes ),
  "font-weight": (responsive: true,
    property: font-weight,
    class: fw,
    values: (lighter: $font-weight-lighter,
      light: $font-weight-light,
      normal: $font-weight-normal,
      medium: $font-weight-medium,
      semibold: $font-weight-semibold,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder,
      black: $font-weight-black)),
  "color": (responsive: true,
    property: color,
    class: text,
    local-vars: ("text-opacity": 1),
    values: map-merge($theme-colors,
      ("body": to-rgb($body-color),
        "cement-gray": $cement-gray,
        "muted": var(--#{$prefix}secondary-color), // deprecated
        "black-50": rgba($black, .5), // deprecated
        "white-50": rgba($white, .5), // deprecated
        "body-secondary": var(--#{$prefix}secondary-color),
        "body-tertiary": var(--#{$prefix}tertiary-color),
        "body-emphasis": var(--#{$prefix}emphasis-color),
        "reset": inherit,
      ))),
  "text-transform": (responsive: true,
    property: text-transform,
    class: text,
    values: lowercase uppercase capitalize),
  "width": (responsive: true,
    property: width,
    class: w,
    values: (25: 25%,
      48: calc(50% - 12px), // for store-locations.html
      50: 50%,
      33: 33.33333%, // col-4
      66: 66.66667%, // col-8
      60: 60%, // index.html form submit button
      75: 75%,
      83: 83.33333%, // col-10
      100: 100%,
      s: 24px,  // fot article.html social media
      navbar: calc(100% + 24px), // for haeder block navbar
      auto: auto)),
  "height": (responsive: true,
    property: height,
    class: h,
    values: (25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      s: 24px,
      map-md: 414px,
      map-sm: 208px,
      glasses-sm: 136px,
      glasses-lg: 296px,
      banner-sm: 396px,
      banner-md: 787px,
      banner-lg: calc(100vh - 80px),
      co-branded: 240px, // for index.html 聯名設計鏡框 section
      card-body: calc(100% - 149px - 56px), // for index.html 顧客推薦 section card
      auto: auto)),
  "max-width": (responsive: true,
    property: max-width,
    class: mw,
    values: (100: 100%,
      80: 80px, // logo
      s: 304px, // location.html select
    )),
  "max-height": (property: max-height,
    class: mh,
    values: (100: 100%,
      card-body: 511px, // for index.html 顧客推薦 section card
    )),
  "min-viewport-height": (property: min-height,
    class: min-vh,
    values: (100: 100vh,
      card-body: 149px, // for index.html 顧客推薦 section card  
    )),
  "flex": (
      responsive: true,
      property: flex,
      values: (fill: 1 1 auto,
      flex: 1 1 0%,
      static: 1 0 0%, 
    )),
  "font-roboto": (property: font-family,
    class: font,
    values: ($font-family-custom),
  ),
  "background-position": (responsive: true,
    property: background-position,
    class: bg,
    values: (top: top,
      bottom: bottom,
      left: left,
      right: right,
      center: center,
    )),
  "background-image": (responsive: true,
    property: background,
    class: bg,
    values: (banner: url(/assets/images/home-header.png) no-repeat top center /cover,
      banner-sm: url(/assets/images/home-header-sm.png) no-repeat center center /cover,
      co-branded: url(/assets/images/index-bg-md.png) no-repeat center/cover fixed,
    )),
  "cursor": (property: cursor,
    class: cursor,
    values: (pointer, default,
    )),
  "nav-link-color": (
    property: --#{$prefix}nav-link-color,
    class: nav-link-color,
    values: (
      "tabs":    $black,
    )),
  // "nav-link-hover-color": (
  //   property: --#{$prefix}nav-link-hover-color,
  //   class: nav-link-hover-color,
  //   values: (
  //     "tabs":    $black,
  //   )),
);