<footer class="bg-primary text-white pt-6 pt-md-12 pb-6 pb-md-10 pb-lg-8">
  <div class="container-fluid container-md">
    <div class="d-flex justify-content-between border-bottom border-white pb-6 pb-sm-8 mb-4 mb-sm-8">
      <div class="font-noto-sans">
        <nav class="nav d-none d-sm-flex gap-sm-7 gap-md-10 gap-lg-12 fw-light mb-6">
          <a class="nav-link px-0 py-sm-2 py-md-3 active" aria-current="page" href="./index.html">首頁</a>
          <a class="nav-link px-0 py-sm-2 py-md-3" href="#">系列鏡框</a>
          <a class="nav-link px-0 py-sm-2 py-md-3" href="./store.html">門市據點</a>
          <a class="nav-link px-0 py-sm-2 py-md-3" href="#">部落格</a>
          <a class="nav-link px-0 py-sm-2 py-md-3" href="./faq.html">常見問題</a>
        </nav>
        <address>
          <a href="tel:+0800-000-000" class="d-flex align-items-center">
            <span class="material-icons material-icons-outlined fs-3 fs-sm-9 me-2 me-sm-4">
              phone
            </span>
            <span class="fs-1 fs-sm-4 fs-md-6">0800-000-000</span>
          </a>
          <a href="mailto:glasses@business.com" class="d-flex align-items-center">
            <span class="material-icons material-icons-outlined fs-3 fs-sm-9 me-2 me-sm-4">
              mail_outline
            </span>
            <span class="fs-1 fs-sm-4 fs-md-6">glasses@business.com</span>
          </a>
        </address>
      </div>
      <ul class="d-flex gx-2 gx-md-4 gx-lg-8">
        <li>
          <a href="https://www.facebook.com/hexschool/" title="臉書粉絲團" target="_blank" class="translucent-hover">
            <i class="fab fa-facebook align-top fs-3 fs-sm-7 fs-md-9 ms-2 ms-sm-4 ms-md-8"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/hexschool/" title="IG icon" target="_blank" class="translucent-hover">
            <i class="fab fa-instagram align-top fs-3 fs-sm-7 fs-md-9 ms-2 ms-sm-4 ms-md-8"></i>
          </a>
        </li>
        <li>
          <a href="https://page.line.me/guv7422g?openQrModal=true" title="官方line群" target="_blank"
            class="translucent-hover">
            <i class="fab fa-line align-top fs-3 fs-sm-7 fs-md-9 ms-2 ms-sm-4 ms-md-8"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="d-block d-sm-flex justify-content-sm-between align-items-sm-center fw-light">
      <span>Copyright © 2020 Glasses.All rights reserved.</span>
      <ul class="d-block d-sm-flex gap-sm-12 fs-1 fs-s-4">
        <li>
          <a href="#" class="mt-2 mt-sm-0">隱私權政策</a>
        </li>
        <li>
          <a href="#" class="mt-2 mt-sm-0">服務條款</a>
        </li>
      </ul>
    </div>
  </div>
</footer>