<ul class="d-flex mb-0">
  <li class="w-50">
    <picture>
      <source srcset="/assets/images/product-header-sm-3.png" media="(max-width: 540px)" />
      <img src="/assets/images/product-header-3.png" class="figure-img w-100 h-glasses-sm h-lg-glasses-lg d-block object-fit-cover m-0"
        alt="時尚黑框太陽眼鏡置於沙灘上，漸層深色鏡片反映藍天，背景是湛藍海洋，展現夏日度假風情和休閒防曬功能。">
    </picture>
  </li>
  <li class="w-50">
    <picture>
      <source srcset="/assets/images/product-header-sm-4.png" media="(max-width: 540px)" />
      <img src="/assets/images/product-header-4.png" class="figure-img w-100 h-glasses-sm h-lg-glasses-lg d-block object-fit-cover m-0"
        alt="年輕女性佩戴經典飛行員款太陽眼鏡，銀色金屬鏡框搭配藍色漸層鏡片，展現清新魅力和時尚潮流，適合戶外活動和日常穿搭。">
    </picture>
  </li>
</ul>
<div class="container-fluid container-md py-10 py-sm-xl pb-l pb-sm-xl">
  <h2 class="mb-0 font-roboto fw-medium fs-3 fs-md-8">Celluloid Combi</h2>
  <h1 class="mb-5 fs-3 fs-md-5 mb-6 mb-md-8">賽璐珞鈦金屬混合鏡框</h1>
  <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-6 gy-md-10 gy-lg-xl pb-l pb-sm-xl">
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-7.png" alt="經典圓形金屬框太陽眼鏡，鏡框為金色，搭配深綠色鏡片，展現復古時尚風格。">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-8.png" alt="雙橋設計黑色金屬框太陽眼鏡，配有紅色鏡面鏡片，呈現現代運動風格。">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-9.png" alt="復古飛行員風格太陽眼鏡，棕色方形鏡框，金屬鏡腳設計，搭配棕色鏡片，展現成熟魅力。">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-10.png" alt="透明淡黃色方形塑料框太陽眼鏡，搭配深灰色鏡片，呈現清新簡約風格。">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-11.png" alt="一副由迷彩鏡框搭配透明鏡片的眼鏡">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-12.png" alt="一副由迷彩鏡框搭配透明鏡片的眼鏡">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
  </ul>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link font-roboto fw-normal fs-sm-m" href="#">上一頁</a>
      </li>
      <li class="page-item"><a class="page-link font-roboto fw-normal fs-sm-m px-4" href="#">1</a></li>
      <li class="page-item active"><a class="page-link font-roboto fw-normal fs-sm-m px-4" href="#">2</a></li>
      <li class="page-item"><a class="page-link font-roboto fw-normal fs-sm-m px-4" href="#">3</a></li>
      <li class="page-item"><a class="page-link font-roboto fw-normal fs-sm-m px-4" href="#">4</a></li>
      <li class="page-item"><a class="page-link font-roboto fw-normal fs-sm-m px-4" href="#">5</a></li>
      <li class="page-item">
        <a class="page-link font-roboto fw-normal bg-light-subtle fs-sm-m" href="#">下一頁</a>
      </li>
    </ul>
  </nav>
</div>