<ul class="d-flex mb-0">
  <li class="w-50">
    <picture>
      <source srcset="/assets/images/product-header-sm-1.png" media="(max-width: 540px)" />
      <img src="/assets/images/product-header-1.png" class="figure-img w-100 h-glasses-sm h-lg-glasses-lg d-block object-fit-cover m-0"
        alt="復古風格的半框眼鏡，琥珀色鏡框搭配金屬下框，放置在一疊書籍上。眼鏡展現出知性與時尚的完美結合，適合閱讀或日常配戴。">
    </picture>
  </li>
  <li class="w-50">
    <picture>
      <source srcset="/assets/images/product-header-sm-2.png" media="(max-width: 540px)" />
      <img src="/assets/images/product-header-2.png" class="figure-img w-100 h-glasses-sm h-lg-glasses-lg d-block object-fit-cover m-0"
        alt="優雅女性佩戴圓形金屬細框眼鏡，仰視角度展現透明鏡片和精緻鼻托，突顯眼鏡的時尚設計和舒適佩戴感。">
    </picture>
  </li>
</ul>
<div class="container-fluid container-md py-10 py-sm-xl pb-l pb-sm-xl">
  <h2 class="mb-0 font-roboto fw-medium fs-3 fs-md-8">Celluloid Combi</h2>
  <h1 class="mb-5 fs-3 fs-md-5 mb-6 mb-md-8">賽璐珞鈦金屬混合鏡框</h1>
  <ul class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-6 gy-md-10 gy-lg-xl pb-l pb-sm-xl">
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-1.png" alt="棕色玳瑁紋半框眼鏡,金屬鏡架,方形鏡框設計,展示於白色桌面上">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-2.png" alt="黑色方形框架眼鏡，粗框設計，簡約現代風格">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-3.png" alt="黑色矩形框架眼鏡，鏡腿為黃色，運動風格設計">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-4.png" alt="金屬框貓眼眼鏡，上半部為黑色，下半部為金色，鏡腿為玳瑁紋，放置於灰色書本上">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-5.png" alt="金屬框貓眼眼鏡，上半部為黑色，下半部為金色，鏡腿為玳瑁紋，放置於白色布面上">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-6.png" alt="復古風格半框眼鏡，上框為玳瑁紋路，下框為金屬材質，鏡架優雅地置於打開的書本上，呈現出知性氛圍">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-1.png" alt="棕色玳瑁紋半框眼鏡,金屬鏡架,方形鏡框設計,展示於白色桌面上">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-2.png" alt="黑色方形框架眼鏡，粗框設計，簡約現代風格">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-3.png" alt="黑色矩形框架眼鏡，鏡腿為黃色，運動風格設計">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-4.png" alt="金屬框貓眼眼鏡，上半部為黑色，下半部為金色，鏡腿為玳瑁紋，放置於灰色書本上">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-5.png" alt="金屬框貓眼眼鏡，上半部為黑色，下半部為金色，鏡腿為玳瑁紋，放置於白色布面上">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
    <li class="col">
      <a href="#">
        <img src="/assets/images/product-6.png" alt="復古風格半框眼鏡，上框為玳瑁紋路，下框為金屬材質，鏡架優雅地置於打開的書本上，呈現出知性氛圍">
        <div class="d-flex justify-content-between align-items-center">
          <h3 class="font-roboto fw-normal text-black fs-3 mb-0">BJ41600S</h3>
          <span class="font-roboto fw-medium fs-3 text-primary">NTD3,490</span>
        </div>
        <div class="d-flex gap-2">
          <span class="w-s h-s d-inline-block rounded-1 bg-brown-dark"></span>
          <span class="w-s h-s d-inline-block rounded-1 bg-orange"></span>
        </div>
      </a>
    </li>
  </ul>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link font-roboto fw-normal fs-sm-m" href="#">上一頁</a>
      </li>
      <li class="page-item"><a class="page-link font-roboto fw-normal fs-sm-m px-4" href="#">1</a></li>
      <li class="page-item active"><a class="page-link font-roboto fw-normal fs-sm-m px-4" href="#">2</a></li>
      <li class="page-item"><a class="page-link font-roboto fw-normal fs-sm-m px-4" href="#">3</a></li>
      <li class="page-item"><a class="page-link font-roboto fw-normal fs-sm-m px-4" href="#">4</a></li>
      <li class="page-item"><a class="page-link font-roboto fw-normal fs-sm-m px-4" href="#">5</a></li>
      <li class="page-item">
        <a class="page-link font-roboto fw-normal bg-light-subtle fs-sm-m" href="#">下一頁</a>
      </li>
    </ul>
  </nav>
</div>