<header>
  <nav class="navbar navbar-expand-sm bg-primary pb-0 pb-sm-3">
    <div class="container-fluid container-md">
      <a class="navbar-brand mx-auto mx-sm-0" href="#">
        <picture>
          <source srcset="../assets/images/logo-new-sm.png" media="(max-width: 577px)" />
          <img src="../assets/images/logo.png" alt="logo">
        </picture>        
      </a>
      <div class="w-100 w-sm-auto pb-xxl pb-sm-0 mt-4 mt-sm-0">
        <ul class="w-100 w-sm-auto navbar-nav position-absolute position-sm-initial start-0 flex-wrap flex-row justify-content-sm-end text-center me-0 me-sm-nm">
          <li class="nav-item w-50 w-sm-auto border border-sm-0">
            <a class="nav-link fs-sm-2 active" aria-current="page" href="#">系列鏡框</a>
          </li>
          <li class="nav-item w-50 w-sm-auto border border-sm-0">
            <a class="nav-link fs-sm-2" href="#">門市據點</a>
          </li>
          <li class="nav-item w-50 w-sm-auto border border-sm-0">
            <a class="nav-link fs-sm-2" href="#">部落格</a>
          </li>
          <li class="nav-item w-50 w-sm-auto border border-sm-0">
            <a class="nav-link fs-sm-2" href="#">常見問題</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>