<header>
  <nav class="navbar navbar-expand-sm bg-primary fw-light text-center pb-0 pb-sm-3">
    <div class="container-fluid container-md px-0 px-sm-m">
      <a class="navbar-brand mx-auto mx-sm-0" href="./index.html">
        <picture>
          <source srcset="/assets/images/logo-new-sm.png" media="(max-width: 577px)" />
          <img src="/assets/images/logo-white.png" alt="logo" class="mw-80">
        </picture>    
      </a>
      <ul class="w-100 w-sm-auto navbar-nav flex-wrap flex-row justify-content-sm-end mt-4 mt-sm-0 me-sm-nm ms-sm-0">
        <li class="nav-item w-50 w-sm-auto border border-sm-0 border-white">
          <a class="nav-link fs-sm-2 active" aria-current="page" href="./glasses.html">系列鏡框</a>
        </li>
        <li class="nav-item w-50 w-sm-auto border border-sm-0 border-white">
          <a class="nav-link fs-sm-2" href="./store.html">門市據點</a>
        </li>
        <li class="nav-item w-50 w-sm-auto border border-sm-0 border-white">
          <a class="nav-link fs-sm-2" href="./blog.html">部落格</a>
        </li>
        <li class="nav-item w-50 w-sm-auto border border-sm-0 border-white">
          <a class="nav-link fs-sm-2" href="./faq.html">常見問題</a>
        </li>
      </ul>
    </div>
  </nav>
</header>