<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <title>首頁</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main>
      <section class="h-banner-sm h-md-banner-md h-lg-banner-lg bg-banner-sm bg-md-banner">
        <div class="h-100 d-flex align-items-center text-end">
          <div class="container-fluid container-md">
            <h1 class="fw-bold fs-3 fs-sm-9 fs-md-xl mb-1 mb-sm-2 text-brown">
              <span class="d-block text-brown fw-normal fs-1 fs-sm-6">Promise-Desert 2020 早春系列</span>
              看得清，才能看得遠
            </h1>
            <button type="button" class="btn btn-primary rounded-0 fs-2 fw-medium py-s" aria-label="立即購買早春系列眼鏡">立即購買</button>
            <!-- <div class="row">
              <div class="col text-secondary text-end">
                <h1 class="fw-bold fs-3 fs-sm-9 fs-md-xl mb-1 mb-sm-2 text-brown">
                  <span class="d-block text-brown fw-normal fs-1 fs-sm-6">Promise-Desert 2020 早春系列</span>
                  看得清，才能看得遠
                </h1>
                <button type="button" class="btn btn-primary rounded-0 fs-2 fw-medium py-s" aria-label="立即購買早春系列眼鏡">立即購買</button>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      <section class="bg-primary-subtle py-10 py-sm-xl">
        <div class="container-fluid container-md">
          <h2 class="text-center fs-3 fs-sm-9 mb-4">用專業的心，做專業的事</h2>
          <div class="row gy-4 gy-sm-6 gy-lg-0">
            <div class="col-12 col-sm-6 col-lg-3">
              <figure class="figure d-block text-center mb-2">
                <!-- <img src="/assets/images/home-section2-1.png" class="figure-img img-fluid m-0" -->
                  <!-- alt="灰色的圖片，有一位女性看向正前方，戴著一副光學眼鏡"> -->
                <span class="material-icons material-icons-outlined text-brown fs-xxl mb-2" aria-hidden="true">
                  paid
                </span>
                <figcaption class="figure-caption">
                  <h3 class="text-brown fw-bold fs-3 mb-0">單一價格</h3>
                </figcaption>
              </figure>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <figure class="figure d-block text-center mb-2">
                <span class="material-icons material-icons-outlined text-brown fs-xxl mb-2" aria-hidden="true">
                  schedule
                </span>
                <figcaption class="figure-caption">
                  <h3 class="text-brown fw-bold fs-3 mb-0">20 分鐘即可取件</h3>
                </figcaption>
              </figure>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <figure class="figure d-block text-center mb-2">
                <span class="material-icons material-icons-outlined text-brown fs-xxl mb-2" aria-hidden="true">
                  favorite_border
                </span>
                <figcaption class="figure-caption">
                  <h3 class="text-brown fw-bold fs-3 mb-0">安心售後服務</h3>
                </figcaption>
              </figure>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <figure class="figure d-block text-center mb-2">
                <span class="material-icons material-icons-outlined text-brown fs-xxl mb-2" aria-hidden="true">
                  voicemail
                </span>
                <figcaption class="figure-caption">
                  <h3 class="text-brown fw-bold fs-3 mb-0">關於鏡片</h3>
                </figcaption>
              </figure>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
            </div>
          </div>
        </div>
      </section>
      <section class="py-10 py-sm-xl">
        <div class="container-fluid container-md">
          <h2 class="text-center fs-3 fs-sm-9 mb-6 mb-lg-12">經典系列鏡框</h2>
          <div class="row gy-6 gy-lg-0 gx-6 gx-lg-4 gx-xl-5 flex-column flex-lg-row align-items-center align-items-lg-normal">
            <div class="col-12 col-sm-9 col-lg-4">
              <figure class="figure position-relative mb-0">
                <img src="/assets/images/home-section3-1.png" class="figure-img img-fluid m-0"
                  alt="灰色的圖片，有一位女性看向正前方，戴著一副光學眼鏡">
                <figcaption class="figure-caption text-center pt-2">
                  <h3 class="font-roboto fw-bold fst-italic fs-9 text-primary mb-0"><a href="#" class="stretched-link text-primary">OPTICAL</a></h3>
                </figcaption>
              </figure>
            </div>
            <div class="col-12 col-sm-9 col-lg-4">
              <figure class="figure position-relative mb-0">
                <img src="/assets/images/home-section3-2.png" class="figure-img img-fluid m-0"
                  alt="灰色的圖片，有一位女性戴著太陽眼鏡看向左上方，並有陽光照射過來">
                <figcaption class="figure-caption text-center pt-2">
                  <h3 class="font-roboto fw-bold fst-italic fs-9 text-primary mb-0"><a href="#" class="stretched-link text-primary">SUNGLASSES</a></h3>
                </figcaption>
              </figure>
            </div>
            <div class="col-12 col-sm-9 col-lg-4">
              <figure class="figure position-relative mb-0">
                <img src="/assets/images/home-section3-3.png" class="figure-img img-fluid m-0"
                  alt="灰色的圖片，並有一位老人戴著一副功能眼鏡">
                <figcaption class="figure-caption text-center pt-2">
                  <h3 class="font-roboto fw-bold fst-italic fs-9 text-primary mb-0"><a href="#" class="stretched-link text-primary">FUNCTIONAL</a></h3>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-co-branded bg-top bg-sm-center py-10 py-sm-xl">
        <div class="container-fluid container-md">
          <h2 class="text-center text-white fs-3 fs-sm-9 mb-6 mb-lg-12">聯名設計鏡框</h2>
          <div class="row gy-6 gy-lg-0 gx-0">
            <div class="col-12 col-lg-6">
              <figure class="figure mb-0">
                <picture>
                  <source srcset="/assets/images/home-section4-1-sm.png" media="(max-width: 577px)" />
                  <img src="/assets/images/home-section4-1.png" class="figure-img img-fluid h-co-branded d-block object-fit-cover m-0"
                    alt="白色鏡框，陵陵角角很明顯，很有個性像外星人眼睛">
                </picture>
                <figcaption class="figure-caption text-center bg-white pt-2">
                  <h3 class="text-primary fw-bold fst-italic fs-9 mb-0">DOUBLE A+</h3>
                </figcaption>
              </figure>
            </div>
            <div class="col-12 col-lg-6">
              <figure class="figure mb-0">
                <picture>
                  <source srcset="/assets/images/home-section4-2-sm.png" media="(max-width: 577px)" />
                  <img src="/assets/images/home-section4-2.png" class="img-fluid h-co-branded d-block object-fit-cover m-0"
                  alt="金色金屬細框眼鏡，接近無邊框造型只有些微邊線點綴">
                  </picture>
                <figcaption class="figure-caption text-center bg-white pt-2">
                  <h3 class="text-primary fw-bold fst-italic fs-9 mb-0">YOUTH</h3>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </section>
      <section class="py-10 py-sm-xl">
        <div class="container-fluid container-md">
          <h2 class="text-center fs-3 fs-sm-9 mb-6 mb-lg-12">顧客推薦</h2>
          <div class="row gy-4 gy-sm-6 gy-lg-0">
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="card h-100 mh-card-body shadow">
                <img src="/assets/images/home-section5-1.png" alt="Jessy的個人照片，是一位長髮女性，她拿著太陽眼鏡閉著雙眼頭往上仰朝著天空的方向"
                  class="card-img-top h-card-body object-fit-cover">
                <div class="card-body min-vh-card-body">
                  <h3 class="card-title fs-1"><a href="#" class="stretched-link text-black">Jessy</a></h3>
                  <p class="card-text fs-1">眼鏡品質優良，下次還會想來這邊購買！</p>
                </div>
                <div class="card-footer border-0 bg-white">
                  <small class="text-muted">2021/06/20</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="card h-100 mh-card-body shadow">
                <img src="/assets/images/home-section5-2.png" alt="凱倫的個人照片，是一位短髮女性閉著雙眼戴著黑框眼鏡"
                  class="card-img-top h-card-body object-fit-cover">
                <div class="card-body min-vh-card-body">
                  <h3 class="card-title fs-1"><a href="#" class="stretched-link text-black">凱倫</a></h3>
                  <p class="card-text fs-1">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                </div>
                <div class="card-footer border-0 bg-white">
                  <small class="text-muted">2021/04/18</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="card h-100 mh-card-body shadow">
                <img src="/assets/images/home-section5-3.png" alt="悠悠的個人照片，是一位戴著毛帽的長髮女性正看向正前方，照片使用灰色呈現"
                  class="card-img-top h-card-body object-fit-cover">
                <div class="card-body min-vh-card-body">
                  <h3 class="card-title fs-1"><a href="#" class="stretched-link text-black">悠悠</a></h3>
                  <p class="card-text fs-1">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                </div>
                <div class="card-footer border-0 bg-white">
                  <small class="text-muted">2020/12/25</small>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="card h-100 mh-card-body shadow">
                <img src="/assets/images/home-section5-4.png" alt="Kyuan的個人照片，她戴著一副眼鏡，整張照片佔據了她的側臉"
                  class="card-img-top h-card-body object-fit-cover">
                <div class="card-body min-vh-card-body">
                  <h3 class="card-title fs-1"><a href="#" class="stretched-link text-black">Kyuan</a></h3>
                  <p class="card-text fs-1">服務很好，品質沒有任何問題，非常喜歡。</p>
                </div>
                <div class="card-footer border-0 bg-white">
                  <small class="text-muted">2020/10/31</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-primary-subtle py-10 py-sm-xl">
        <form class="container-fluid container-md">
          <div class="w-100 w-sm-83 w-lg-50 mx-auto">
            <h2 class="text-center fs-3 fs-sm-9 mb-6 mb-lg-12">聯絡我們</h2>
            <p class="fs-1 fs-lg-2 mb-6">
              我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
            </p>
            <form>
              <div class="mb-4">
                <label for="contactName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="contactName" name="userName" placeholder="陳小明"
                  aria-describedby="nameHelp">
              </div>
              <div class="mb-4">
                <label for="contactPhone" class="form-label">聯絡電話</label>
                <input type="tel" class="form-control" id="contactPhone" placeholder="0912-345-678" name="userPhone">
              </div>
              <div class="mb-4">
                <label for="contactEmail" class="form-label">電子郵件</label>
                <input type="mail" class="form-control" id="contactEmail" placeholder="example@email.com"
                  name="userEmail">
              </div>
              <div class="mb-4">
                <label for="contact" class="form-label">意見反應</label>
                <textarea class="form-control" id="contact" rows="5" placeholder="請輸入您的意見"
                  name="userContact"></textarea>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="privacy" name="agreePrivacy">
                <label for="privacy" class="form-check-label">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
              </div>
              <button type="submit" value="確認送出"
                class="btn btn-primary d-block w-sm-60 w-lg-66 mx-auto mt-2 mt-sm-8">確認送出</button>
            </form>
          </div>
        </form>
      </section>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>