<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  <title>門市據點</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <main class="py-10 py-sm-xl pb-l pb-sm-xl">
      <div class="container-fluid container-md">
        <h2 class="border-start border-x border-primary-subtle text-black fs-sm-9 ps-4 mb-6 mb-lg-8">門市據點</h2>
        <div class="d-flex align-items-center mb-6 mb-sm-10">
          <label for="region" class="fs-1 fs-sm-3 me-2 me-sm-4">選擇地區</label>
          <select id="region" class="form-select mw-s cursor-pointer" aria-label="選擇門市地區">
            <option value="大同鄉">大同鄉</option>
            <option value="神岡區">神岡區</option>
            <option value="來義鄉">來義鄉</option>
            <option value="六腳鄉">六腳鄉</option>
            <option value="角板鄉">角板鄉</option>
          </select>
        </div>
        <div class="row gy-6 gy-lg-12 gx-sm-6">
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="h-100 d-flex flex-column">
            <img src="/assets/images/store-1.png" alt="充滿工業風格的旗艦店，使用黑白色調，佈局簡潔">
            <div class="flex-fill border">
              <h3 class="border-bottom fw-normal fs-3 py-2 px-6">台北中山旗艦店</h3>
              <address class="d-flex flex-column px-6 py-2">
                <div class="mb-2">
                  <a href="tel:(02)000-1234" class="fs-2 text-dark">
                    <span class="material-icons material-icons-outlined align-sub fs-3 me-2">
                      phone
                    </span>
                    電話：(03)980-1965
                  </a>
                </div>
                <div class="mb-2">
                  <span class="material-icons material-icons-outlined align-middle fs-3 me-2">
                    schedule
                  </span>
                  <span class="align-middle fs-2 text-dark">
                    營業時間：06:00-22:00
                  </span>
                </div>
                <div class="mb-2">
                  <a href="https://maps.app.goo.gl/6og66nTuRNY45xjk8" class="fs-2 text-dark">
                    <span class="material-icons material-icons-outlined align-sub fs-3 me-2">
                      place
                    </span>
                    地址：宜蘭縣大同鄉泰雅路一段34號
                  </a>
                </div>
              </address>
            </div>
            <div class="d-grid">
              <a class="btn btn-black" href="location-info.html" role="button">詳細資訊</a>
            </div>
          </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="h-100 d-flex flex-column">
            <img src="/assets/images/store-2.png" alt="簡約現代風格的台北綠園店，有白色及木紋牆壁，佈局讓人很放鬆">
            <div class="flex-fill border">
              <h3 class="border-bottom fw-normal fs-3 py-2 px-6">台北綠園店</h3>
              <address class="d-flex flex-column px-6 py-2">
                <div class="mb-2">
                  <a href="tel:(02)000-1234" class="fs-2 text-dark">
                    <span class="material-icons material-icons-outlined align-sub fs-3 me-2">
                      phone
                    </span>
                    電話：(02)000-2345
                  </a>
                </div>
                <div class="mb-2">
                  <span class="material-icons material-icons-outlined align-middle fs-3 me-2">
                    schedule
                  </span>
                  <span class="align-middle fs-2 text-dark">
                    營業時間：10:00-21:00
                  </span>
                </div>
                <div class="mb-2">
                  <a href="https://maps.app.goo.gl/6og66nTuRNY45xjk8" class="fs-2 text-dark">
                    <span class="material-icons material-icons-outlined align-sub fs-3 me-2">
                      place
                    </span>
                    地址：台北市中正區復興南路 132-1 號
                  </a>
                </div>
              </address>
            </div>
            <div class="d-grid">
              <a class="btn btn-black" href="location-info.html" role="button">詳細資訊</a>
            </div>
          </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="h-100 d-flex flex-column">
            <img src="/assets/images/store-3.png" alt="簡約現代風格的台中清水旗艦店，有白色及木紋牆壁，佈局簡潔">
            <div class="flex-fill border">
              <h3 class="border-bottom fw-normal fs-3 py-2 px-6">台中清水旗艦店</h3>
              <address class="d-flex flex-column px-6 py-2">
                <div class="mb-2">
                  <a href="tel:(02)000-1234" class="fs-2 text-dark">
                    <span class="material-icons material-icons-outlined align-sub fs-3 me-2">
                      phone
                    </span>
                    電話：(02)000-1234
                  </a>
                </div>
                <div class="mb-2">
                  <span class="material-icons material-icons-outlined align-middle fs-3 me-2">
                    schedule
                  </span>
                  <span class="align-middle fs-2 text-dark">
                    營業時間：10:00-21:00
                  </span>
                </div>
                <div class="mb-2">
                  <a href="https://maps.app.goo.gl/6og66nTuRNY45xjk8" class="fs-2 text-dark">
                    <span class="material-icons material-icons-outlined align-sub fs-3 me-2">
                      place
                    </span>
                    地址：台中市清水區經南一路 23 號 8 樓
                  </a>
                </div>
              </address>
            </div>
            <div class="d-grid">
              <a class="btn btn-black" href="location-info.html" role="button">詳細資訊</a>
            </div>
          </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="h-100 d-flex flex-column">
            <img src="/assets/images/store-4.png" alt="工業風的高雄中正形象店，使用大面的落地玻璃簡潔明亮，令人感到很放鬆">
            <div class="flex-fill border">
              <h3 class="border-bottom fw-normal fs-3 py-2 px-6">高雄中正形象店</h3>
              <address class="d-flex flex-column px-6 py-2">
                <div class="mb-2">
                  <a href="tel:(02)000-1234" class="fs-2 text-dark">
                    <span class="material-icons material-icons-outlined align-sub fs-3 me-2">
                      phone
                    </span>
                    電話：(07)000-2345
                  </a>
                </div>
                <div class="mb-2">
                  <span class="material-icons material-icons-outlined align-middle fs-3 me-2">
                    schedule
                  </span>
                  <span class="align-middle fs-2 text-dark">
                    營業時間：10:00-21:00
                  </span>
                </div>
                <div class="mb-2">
                  <a href="https://maps.app.goo.gl/6og66nTuRNY45xjk8" class="fs-2 text-dark">
                    <span class="material-icons material-icons-outlined align-sub fs-3 me-2">
                      place
                    </span>
                    地址：高雄市苓雅區中正路 38 號 12 樓
                  </a>
                </div>
              </address>
            </div>
            <div class="d-grid">
              <a class="btn btn-black" href="location-info.html" role="button">詳細資訊</a>
            </div>
          </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="h-100 d-flex flex-column">
            <img src="/assets/images/store-5.png" alt="簡約的高雄夢時代店，有繽紛的椅子，使人感覺愉快">
            <div class="flex-fill border">
              <h3 class="border-bottom fw-normal fs-3 py-2 px-6">高雄夢時代店</h3>
              <address class="px-6 py-2">
                <div class="d-flex align-items-center mb-2">
                  <span class="material-icons material-icons-outlined fs-3 me-2">
                    phone
                  </span>
                  <a href="tel:(02)000-1234" class="fs-2 text-dark">
                    電話：(07)000-1234
                  </a>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <span class="material-icons material-icons-outlined fs-3 me-2">
                    schedule
                  </span>
                  <span class="fs-2 text-dark">
                    營業時間：10:00-21:00
                  </span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <span class="material-icons material-icons-outlined fs-3 me-2">
                    place
                  </span>
                  <a href="https://maps.app.goo.gl/6og66nTuRNY45xjk8" class="fs-2 text-dark">
                    地址：高雄市前鎮區中華一路 63 號 6 樓
                  </a>
                </div>
              </address>
            </div>
            <div class="d-grid">
              <a class="btn btn-black" href="location-info.html" role="button">詳細資訊</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>